.container {
    padding-top: 15px;
}


.active a {
  color: red;
}

.artist-list a{
  color: black;
}


body {
      padding-top: 10px;
      line-height: 2;
      
    }
    
.container-fluid{
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}



.carousel-control.left{
  
  background-image: none;
}

.carousel-control.right{
  
  background-image: none;
}

.carousel-control {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 15px;
  color: black;
  text-align: left;
  text-shadow: none;
  filter: alpha(opacity=50);
  opacity: .5;
}

.control-container{
 position: absolute; 
 left: 0px;
 top: 0px;
 
 
}

.carousel-control:hover,
.carousel-control:focus {
  color: black;

}

.carousel-caption{
  padding-bottom: 0px;
  position: relative;
  left: auto;
  right: auto;
  color: black;
  
  text-shadow: none;
  font-size: 80%;
  margin: auto;

}

.h1, .h2, .h3, h1, h2, h3{
  margin-top: 0px;
}

.panel-default{
  border-color: white;
}

.panel-default>.panel-heading {
  background-color: transparent;
}

a:focus{
  text-decoration: none;  
}

.footnote{
  color: gray;
}

.nav>li>a{
  color: black;
  font-size: 15px;

}

.nav-pills>li>a{
  padding-bottom: 0px;
  font-size: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active{
  color: gray;
  background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{

   color: gray;
   background-color: transparent;
   
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.right{
  text-align: right;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 3px rgba(0,0,0,0.5);
   padding-right: 5px;
}

.blurry-text h4{
   color: transparent;
   text-shadow: 0 0 0.8px rgba(0,0,0,0.5);
}

.h3, h3 {
  font-size: 120%;
  font-weight: bold;
}




hr {
  margin-top: 5px;
  margin-bottom: 10px;

}

.logo{
  font-size: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {

  display:block;
  max-height: 600px; !important
   
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  margin: auto;
}

.carousel-inner a{
    color: grey;
}

 .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right{
  margin-top: 25px;
 }  

.main-image{
  padding-top: 30px;
  padding-bottom: 30px;
}

small {
  font-size: 90%;
}





