<header class="site-header">

  <div class="wrapper">



   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
         </a>
             
        <div class="trigger">
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>

  </div>

</header>
